/* ==========================
	Write your solution here!
   ========================== 
   **Challenge**:
Your main goal is to take the given HTML for a blog post and make it look good using CSS.

**Hints:**
 - Think about CSS fonts & colors.
 - The Box Model will come in handy here.

**Topics Covered:**
 - Typography
 - Colors
 - Box Model

**Other Information:**
 - Font used: Lato
 - Author text color: #ef5839
 - Bold font weight: 900

   */
   
*{box-sizing: border-box}
html,body{
    margin: 0;
    padding: 1px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.125rem;
    height: 100vh;
}

h1,h2,h3,p{
    padding-top: 0;
}

.borderDecoration{
    border: 5px solid slateblue;
    box-shadow: -15px 20px 0px black;
}

.main{
    padding: 0 40px 40px;
    width: 50vw;
    max-width: 800px;
    margin: 2.5rem auto;
}  

.main .title{
    font-family: Menlo,Monaco,Courier New, Courier, monospace;
    margin: 50px 0;
    font-size: 2rem;
    max-width: 700px;
    /* border: 1px 1px 5px 5px solid black; */
    padding: 0 0 10px 20px;
    text-shadow: ;

}

.meta{
    font-weight: bold;
    color: grey;
    margin-bottom: 40px;
}

.author,.date{
    color: slateblue;
}

.main img{
    width: 100px;
    height: 100px;
    margin: 0 20px 10px 1px;
    float: left;
    border: 5px solid white;
}

.post>p{
    margin: 0 0 40px;
    width: 100%;
    overflow: auto;
    max-width: 1080px;
    padding: 10px;
    background-color: slateblue;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.post p::after{
    content: "";
    clear: both;
    display: table;
}